mat-slider {
    width: 300px;
    margin-left: 15px;
  }
  
  .fan-icon {
    fill: #000000;
    color: #000000;
  }
  
  .brightness-slider {
    margin-top: 25px;
  }
  
  .fan-speed {
    margin-top: 25px;
  }
  
  .color-button {
    margin-top: 25px;
  }