<div class="content" role="main">
  <!-- <div class="card-container">
    <a class="card" (click)="selection.value = 'home'">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
      <span>Learn Angular</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>
  </div> -->
  

  <div class="row">
    <div class="column left">

      <button class="left-side-button" mat-raised-button color="bucketColor" routerLink="bucket">Bucket</button>

      <button class="left-side-button" mat-raised-button color="chestColor" routerLink="chest">Chest</button>

      <button class="left-side-button" mat-raised-button color="shouldersColor" routerLink="shoulders">Shoulders</button>

      <button class="left-side-button" mat-raised-button color="forarmsColor" routerLink="forarms">Forarms</button>

      <button class="left-side-button" mat-raised-button color="thighsColor" routerLink="thighs">Thighs</button>

      <button class="left-side-button" mat-raised-button color="shinsColor" routerLink="shins">Shins</button>

      <button class="left-side-button" mat-raised-button color="weaponsColor" routerLink="weapons">Weapons</button>

      <button class="left-side-button" mat-raised-button color="atmosphericsColor" routerLink="atmospherics">Atmospherics</button>

      <button class="left-side-button" mat-raised-button color="sfxColor" routerLink="sfx">SFX</button>
      
      <button class="left-side-button" mat-raised-button color="chasesColor" routerLink="chases">Chases</button>

      <button class="left-side-button-center" mat-raised-button color="primary" routerLink=".">
        <mat-icon>home</mat-icon>
      </button>

      
    </div>
    <div class="column right">
      <router-outlet></router-outlet>
      
    </div>
  </div>

  <app-status-readouts class="status-readouts"></app-status-readouts>
</div>
